.container {
    margin: 15px;
}

body {
    background-color: lightgray;
}

.btn {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-text {
    font-size: small;
}

#results {
    margin-left: 20px;
    margin-bottom: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    background-color: lightsteelblue;
}